%div
  %div
    %h1
      Title: #{@message.title}
    %h2
      From: #{User.find_by(id: @message.user_id).email}
    %h2
      To: #{User.find_by(id: @message.receiver_id).email}
    %h3
      Content: #{@message.content}
